APP_NAME=AI Education Assistant
APP_ENV=dev
SECRET_KEY=please-change-this-secret
ACCESS_TOKEN_EXPIRE_MINUTES=1440

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=33550336
MYSQL_DATABASE=ai_education

QWEN_API_KEY=replace-with-your-qwen-api-key
QWEN_MODEL=qwen-plus
QWEN_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1

MILVUS_URI=http://127.0.0.1:19530
MILVUS_COLLECTION=ai_education_knowledge
UPLOAD_DIR=./app/storage/uploads
