fastapi==0.115.6
uvicorn[standard]==0.34.0
sqlalchemy==2.0.36
pymysql==1.1.1
python-multipart==0.0.20
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
pydantic-settings==2.7.1
aiofiles==24.1.0
reportlab==4.2.5
langchain==0.3.14
langchain-community==0.3.14
langchain-text-splitters==0.3.4
langchain-openai==0.2.14
langchain-milvus==0.1.8
pymilvus==2.5.3
dashscope==1.20.14
reportlab==4.2.5
pillow==10.3.0